<section>
  <div class="blue-box bio">
    <h2>New Comment</h2>
    <%= render "shared/form2", comment: @comment %>
    <button type="button"><%=link_to 'Back', user_posts_path %></button>
  </div>
</section>
