<li>
  <%= comment.author.name %>: <%= comment.text %>
  <% if can? :delete, comment %>
    <button type="button" class="delete-comment"><%= link_to "Delete Comment", user_post_comment_path(user_id: comment.author.id, post_id: comment.post.id, id: comment.id), data: { turbo_method: :delete } %></button>
  <% end %>
</li>
