<li>
  <h2>Post #<%= post.id %></h2>
  <p><%= post.text %></p>
  <p>Comments: <%= if post.comments.any? then post.posts_counter else 0 end %></p> 
  <p>Likes: <%= if post.likes.any? then post.likes_counter else 0 end %></p>
</li>
