<section>
  <%= render 'shared/user', user: @user %>
  <ul>
    <%= render partial: 'shared/post', collection: @posts %>
  </ul>
  <button type="button"><%= link_to 'Pagination', user_post_path(@user, @posts) %></button>
</section>
