/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  background-color: #90caca;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  padding: 10px;
  color: #fff;
  width: 10%;
  margin-top: 2%;
}

h2 {
  color: #90caca;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #fff;
  padding: 5%;
}

form input {
  margin: 2%;
  padding: 2%;
}

.blue-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 90%;
  background-color: #7d87a9;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.blue-box:hover {
  opacity: 0.5;
}

.blue-box h2,
.blue-box h2 a {
  color: #90caca;
}

.blue-box p {
  color: #fff;
  align-self: end;
}

.bio {
  align-self: start;
  width: 90%;
}

.bio p {
  align-self: start;
}

.bio:hover {
  opacity: 1;
}

.delete-post {
  align-self: end;
}

.delete-comment {
  width: 180px;
  box-shadow: none;
  margin-left: 5%;
}
