.user {
  display: flex;
  margin-bottom: 1%;
  padding: 5%;
  height: 150px;
  width: auto;
}

.user-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 100%;
  background-color: #7d87a9;
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.user-presentation:hover {
  opacity: 0.5;
}

img {
  height: 100%;
  width: 30%;
  margin-right: 5%;
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

h2 a {
  color: #90caca;
}

.user-presentation p {
  color: #fff;
  align-self: end;
}
